/*-- scss:defaults --*/
$h1-font-size: 1.5rem !default;
$h2-font-size: 1.25rem !default;
$headings-font-weight: bold !default;

$p-font-size: 1rem !default;

/*-- scss:rules --*/
.sidebar nav[role=doc-toc] ul>li>a.active,.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    background-color: hsl(0,0%,90%);
    border: 1px solid hsl(0,0%,100%);
    border-radius: 5px;
    color: black !important
}

.sidebar nav[role=doc-toc] ul>li>a:hover,.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color: black !important
}