/* css styles */

--ff: "Inter", sans-serif;

.sourceCode {
  font-size: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1 {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.4em;
  font-family: var(--ff);
}

h2 {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.4em;
  font-family: var(--ff);
  border-bottom: 0px solid;
  padding-top: 1em;
}

p, li, blockquote {
  font-family: var(--ff);
  font-size: 16px;
  font-weight: regular;
  line-height: 1.7em;
}

.qwebr-console-area {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.9rem;
}

.table {
  font-size: 0.9rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.qwebr-output-code-area {
  background-color: #fbfbfb;
}

.callout.callout-style-default .callout-body {
  font-size: 1rem;
  font-weight: 400;
}

.callout.callout-style-simple .callout-body {
  font-size: 1rem;
  font-weight: 400;
}

.callout-title-container {
  font-size: 1.2rem;
  color: black;
  padding-bottom: 3px
}

.navbar {
  background-color: #364958;
}

div.tldr {
    padding: 1em;
    margin: 2em 0;
    background-size: 70px;
    color: black;
    background-color: hsl(0 0% 100%);
    border: solid 2px hsl(0 0% 0%);
    border-radius: 0.15rem;
    font-family: var(--ff);
    font-size: 1rem;
}

div.prize {
  display: flex;
  align-items: center;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 15px center;
  color: black;
  background-color: white;
  border: solid 3px black;
  font-size: 1.1rem;
}
  
div.prize {
  background-image: url("static/prize-icon.png");
}

div.algorithm {
  margin: 1em 0;
  border-left: 5px solid #364958; 
  border-radius: .25rem;
  border-right: solid 1px silver;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
}

.algorithm-header {
  border-bottom: none;
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 50px;
  padding-right: 0.5em;
  background-color: #B4D4EE !important;  
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url('static/settings-line-icon.png');
}

.algorithm-body {
  font-size: 0.9rem;
  font-weight: 400;
  padding-left: 0.5em;
  padding-right: 0.5em;  
    padding-bottom: 0.5rem;
  margin-bottom: 0;
}

/* Callout Types */

div.callout-warning {
  border-left-color: #F18805 !important;
}

div.callout-warning .callout-header {
  background-color: #FDC85D !important;
}

div.callout-warning.callout-style-default .callout-title {
  background-color: #FDC85D
}